.mybg {
    filter: brightness(50%);


}


.carousel-caption {
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;

}

.item {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


@media only screen and (max-width: 688px) {

    .course {

        flex-wrap: wrap;
        width: 100%;
    }

    .company {
        display: none;

    }



}